@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.p-red {
    color: rgb(149, 30, 30) !important;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 175%;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.byli-u-nas-galeria img {
    width: 80%;
    margin: 0 auto;
}

body {
    background-color: #fff;
}
.mobile-image {
    display: none !important;
}
@media screen and (max-width: 1199px) {
    .mobile-image {
        display: block !important;
    }
    .desktop-image {
        display: none !important;
    }
}
.row-flex {
    display: flex;
    flex-wrap: wrap;
}

.hotel-about-container:first-child {
    margin-top: 0px;
}

.hotel-about-container {
    flex-basis: 100%;
    margin-top: 30px;
}

.hotel-about-text h2 {
    color: #000; /*#e0c2a5 !important;*/
    text-transform: uppercase;
    letter-spacing: 4px !important;
    text-align: center;
    font-size: 35px !important;
    margin-top: 0px !important;
    margin-bottom: 30px !important;
}

.hotel-about-text ul {
    list-style-type: disc;
    margin-left: 10px;
}

.hotel-about-text ul li {
    margin-bottom: 15px;
    font-size: 1.6rem;
}
.hotel-about-text ul li::marker {
    color: rgb(170, 152, 107);
}
.t-section-title {
    color: #000 !important;
}

.hotel-about-text p {
    color: #000;
    letter-spacing: 1px;
    line-height: 175%;
    text-align: center;
    width: 90%;
    margin: 0 auto !important;
}
.two-images, .three-images {
    display: flex;
    justify-content: space-between;
}

.one-image {
    display: flex;
}
.two-images img {
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
    max-height: 600px;
}

.gold-text {
    color: #be9d7d !important;
}

.one-image img {
    width: 100%;
    max-height: 600px;
    padding: 5px;
    box-sizing: border-box;
}
.three-images img {
    max-height: 600px;
    width: 33%;
    padding: 5px;
    box-sizing: border-box;
}

.hotel-about-text {
    padding: 30px 0;
    border: 20px solid #F0F0F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.about-section {
    margin-bottom: 40px;
}

.p-intro {
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 175%;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

#testimonials {
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.testimonial-heading {
    letter-spacing: 1px;
    margin: 30px 0;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-heading h1 {
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #fff;
    padding: 10px 20px;
}

.testimonial-heading span {
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.testimonial-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial-box {
    width: 100%;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #fff;
    padding: 20px;
    margin: 15px;
    min-height: 200px;
}
.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: #3d3d3d;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
}

.name-user span {
    color: #979797;
    font-size: 1.1rem;
}

.reviews {
    color: #f9d71c;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p {
    font-size: 1.4rem;
    color: #4b4b4b;
    line-height: 150%;
}

@media screen and (max-width: 1200px) {
    .testimonial-box {
        width: 100% !important;
    }
}

.zabiegi ul {
    list-style: none !important;
    padding: 0 !important;
    padding-left: 15px !important;
    font-size: 19px !important;
}

.zabiegi li {
    padding-left: 1.3em !important;
    line-height: 140% !important;
}

.zabiegi li::before {
    content: "\f00c" !important; /* FontAwesome Unicode */
    font-family: FontAwesome !important;
    display: inline-block !important;
    margin-left: -1.3em !important;
    width: 1.3em !important;
    color:rgb(116, 245, 30) !important;
    margin-right: 8px;
}

.zabiegi h3 {
    font-size: 38px !important;
    margin-top: 30px;
    color:rgb(63, 126, 21) !important;
}

.zabiegi p {
    font-size: 17px !important;
    margin-left: 15px !important;
}
.zabiegi h1 {
    font-size: 40px !important;
    color:rgb(63, 126, 21) !important;
}


.wczasy li::before {
    color:rgb(245, 30, 30) !important;
}

.wczasy h3, .wczasy h1 {
    color:rgb(245, 30, 30) !important;
}

.hotel-about-container h1 {
    text-align: center;
}

.masaz-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 80%;
    height: 90%;
    margin: 0 auto;
    background-color: #a1580f59;
    padding: 15px 0;

    color: white;
}

.masaz-card img {
    width: 30%;
    margin-bottom: 15px;
}

.masaze-cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.masaz-background {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;

    background: url('https://u.profitroom.com/2018.holidayhome.com.pl/uploads/przeskalowane_do_strony/dlonie.jpg');
    background-repeat: no-repeat !important;
    background-size: cover !important;
    /*flex: 1 1 0px;*/
}

.masaz-dlonie {
    background: url('https://u.profitroom.com/2018.holidayhome.com.pl/uploads/przeskalowane_do_strony/dlonie.jpg');
}

.masaz-twarz {
    background: url('https://u.profitroom.com/2018.holidayhome.com.pl/uploads/przeskalowane_do_strony/twarz.jpg');
}

.masaz-relaks-plecy {
    background: url('https://u.profitroom.com/2018.holidayhome.com.pl/uploads/przeskalowane_do_strony/masaz_plec.jpeg');
}

.masaz-swieca {
    background: url('https://u.profitroom.com/2018.holidayhome.com.pl/uploads/przeskalowane_do_strony/masaz_swiece.jpg');
}

.masaz-klasyczny-plecow {
    background: url('https://u.profitroom.com/2018.holidayhome.com.pl/uploads/przeskalowane_do_strony/masaz-plecow-thaisun.jpg');
}

.masaz-pantai-luar {
    background: url('https://u.profitroom.com/2018.holidayhome.com.pl/uploads/przeskalowane_do_strony/pantai_luar.jpg');
}

.masaz-soul-ballance {
    background: url('https://u.profitroom.com/2018.holidayhome.com.pl/uploads/przeskalowane_do_strony/plecy.jpg');
}

.masaz-card-first-label {
    border-top: 3px solid white;
    width: 65%;
    text-align: center;
    padding-top: 30px;
    font-size: 19px;
}

.masaz-card-second-label {
    border-bottom: 3px solid white;
    width: 65%;
    text-align: center;
    padding-bottom: 30px;
    font-size: 19px;
}

.masaz-card p {
    font-size: 35px;
    font-weight: bold;
}

.rytual-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 80%;
    height: 90%;
    margin: 0 auto;
    background-color: #312f2fa1;
    padding: 15px 0;

    color: white;
}

.rytual-card img {
    width: 30%;
    margin-bottom: 15px;
}

.rytual-label-info {
    text-align: center;
    font-weight: 400;
}

.rytual-card p {
    font-size: 35px;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .masaze-cards {
        flex-wrap: wrap;
    }
    .bar-card, .bar-menu2 img {
        width: 49% !important;
        margin-top: 10px;
    }
    .hotel-about-text h2 {
        font-size: 29px !important;
    }
    .bar-card label {
        font-size: 20px !important;
    }
    .sscard {
        width: 32% !important;
    }
}



.bar-menu, .bar-menu2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
}
.bar-card {
    width: 32%;
    margin-bottom: 10px;
    border-radius: 10%;
    padding-bottom: 15px;
    border-radius: 25px;
    border: 10px solid #928472;
    background-color: #928472;
}

.bar-card img {
    width: 100%;
}

.bar-card label {
    color: white;
    font-size: 28px;
    text-align: center;
    width: 100%;
    margin-top: 15px;
}


.bar-menu2 img {
    width: 33%;
    margin-bottom: 10px;
    border: 10px solid #c3c3c3;
    border-radius: 10%;
}

.bar-galeria img {
    margin-bottom: 10px;
}

.zabiegi-text-info p:last-child {
    margin-top: 15px !important;
    font-size: 1.8rem;
}

.zabiegi-text-info b {
    color:rgb(238, 65, 65);
}

.zabiegi-container h2 {
    text-align: center;
}

.m-cards-container {
    display: flex;
    justify-content: space-around;
}

.m-cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-cards a {
    color: black;
    text-decoration: none !important;
}

.m-card {
    /*display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";*/

    font-family: roboto;
    border-radius: 18px;
    background: white;
    /*box-shadow: 5px 5px 15px rgba(0,0,0,0.9);*/
    text-align: center;
}

.m-card-image {
    grid-area: image;
    background: url('https://u.profitroom.com/2018.holidayhome.com.pl/uploads/przeskalowane_do_strony/projekt-ue-view.jpg');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;

}

.m-card-text {
    grid-area: text;
    margin: 25px;
}

.m-card-text .m-date {
    color: rgb(9, 106, 170) !important;
    font-size: 13px;
}

.m-card-text p {
    color: grey !important;
    font-size: 15px;
    font-weight: 300;
}

.m-date {
    font-weight: 600;
}

.m-card-text h2 {
    margin-top: 0px;
    font-size: 28px;
}

.m-card-stats {
    grid-area: stats;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    background: rgb(9, 106, 170) !important;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    
}

.m-stat {
    margin-top: 15px;
}

.m-stat .m-type {
    font-size: 11px;
    font-weight: 300;
}

.m-stat .m-value {
    font-size: 22px;
}

.holiday-regulamin {
    font-size: 18px;
}

.holiday-regulamin ul {
    list-style-type: disc !important;
    line-height: 150%;
}

.holiday-regulamin ul::before {
    content: '∙ ';
}

.sscard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 28%;
    margin-bottom: 10px;
}
  
.sscard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.sscontainer {
    padding: 2px 16px;
}