@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box !important;
}

:root {
  --c-white: #fff !important;
  --c-black: #000 !important;
  --c-ash: #eaeef6 !important;
  --c-charcoal: #a0a0a0 !important;
  --c-void: #141b22 !important;
  --c-fair-pink: #ffedec !important;
  --c-apricot: #fbc8be !important;
  --c-coffee: #754d42 !important;
  --c-del-rio: #917072 !important;
  --c-java: #1fcac5 !important;
  --c-titan-white: #f1eeff !important;
  --c-cold-purple: #a69fd6 !important;
  --c-indigo: #6558d3 !important;
  --c-governor: #4133b7 !important;
}

body {
  font-family: "Spline Sans", sans-serif !important;
  line-height: 1.5 !important;
  min-height: 100vh !important;
  background-color: var(--c-ash) !important;
}

.cards {
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: flex-start !important;
  justify-content: center !important;
  gap: 2.5rem !important;
  width: 100% !important;
  margin: 10vh auto !important;
}

.card {
  border-radius: 16px !important;
  box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25) !important;
}

.card:nth-child(2) {
  min-width: 400px !important;
  width: 500px !important;
}

.information {
  background-color: var(--c-white) !important;
  padding: 1.5rem !important;
}

.information .tag {
  display: inline-block !important;
  background-color: var(--c-titan-white) !important;
  color: var(--c-indigo) !important;
  font-weight: 600 !important;
  font-size: 0.875rem !important;
  padding: 0.5em 0.75em !important;
  line-height: 1 !important;
  border-radius: 6px !important;
}

.information .tag + * {
  margin-top: 1rem !important;
}

.information .title {
  font-size: 1.5rem !important;
  color: var(--c-void) !important;
  line-height: 1.25 !important;
}

.information .title + * {
  margin-top: 1rem !important;
}

.information .info {
  color: var(--c-charcoal) !important;
}

.information .info + * {
  margin-top: 1.25rem !important;
}

.information .button {
  font: inherit !important;
  line-height: 1 !important;
  background-color: var(--c-white) !important;
  border: 2px solid var(--c-indigo) !important;
  color: var(--c-indigo) !important;
  padding: 0.5em 1em !important;
  border-radius: 6px !important;
  font-weight: 500 !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  gap: 0.5rem !important;
}

.information .button:hover,
.information .button:focus {
  background-color: var(--c-indigo) !important;
  color: var(--c-white) !important;
}

.information .details {
  display: flex !important;
  gap: 1rem !important;
}

.information .details div {
  padding: 0.75em 1em !important;
  background-color: var(--c-titan-white) !important;
  border-radius: 8px !important;
  display: flex !important;
  flex-direction: column-reverse !important;
  gap: 0.125em !important;
  flex-basis: 50% !important;
}

.information .details dt {
  font-size: 0.875rem !important;
  color: var(--c-cold-purple) !important;
}

.information .details dd {
  color: var(--c-indigo) !important;
  font-weight: 600 !important;
  font-size: 1.25rem !important;
}

.plan {
  padding: 10px !important;
  background-color: var(--c-white) !important;
  color: var(--c-del-rio) !important;
}

.plan strong {
  font-weight: 600 !important;
  color: var(--c-coffee) !important;
}

.plan .inner {
  padding: 20px !important;
  padding-top: 40px !important;
  background-color: var(--c-fair-pink) !important;
  border-radius: 12px !important;
  position: relative !important;
  overflow: hidden !important;
}

.plan .pricing {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  background-color: var(--c-apricot) !important;
  border-radius: 99em 0 0 99em !important;
  display: flex !important;
  align-items: center !important;
  padding: 0.625em 0.75em !important;
  font-size: 1.25rem !important;
  font-weight: 600 !important;
  color: var(--c-coffee) !important;
}

.plan .pricing small {
  color: var(--c-del-rio) !important;
  font-size: 0.75em !important;
  margin-left: 0.25em !important;
}

.plan .title {
  font-weight: 600 !important;
  font-size: 1.25rem !important;
  color: var(--c-coffee) !important;
}

.plan .title + * {
  margin-top: 0.75rem !important;
}

.plan .info + * {
  margin-top: 1rem !important;
}

.plan .features {
  display: flex !important;
  flex-direction: column !important;
}

.plan .features li {
  display: flex !important;
  align-items: center !important;
  gap: 0.5rem !important;
}

.plan .features li + * {
  margin-top: 0.75rem !important;
}

.plan .features .icon {
  background-color: var(--c-java) !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: var(--c-white) !important;
  border-radius: 50% !important;
  width: 20px !important;
  height: 20px !important;
}

.plan .features .icon svg {
  width: 14px !important;
  height: 14px !important;
}

.plan .features + * {
  margin-top: 1.25rem !important;
}

.plan button {
  font: inherit !important;
  background-color: var(--c-indigo) !important;
  border-radius: 6px !important;
  color: var(--c-white) !important;
  font-weight: 500 !important;
  font-size: 1.125rem !important;
  width: 100% !important;
  border: 0 !important;
  padding: 1em !important;
}

.plan button:hover,
.plan button:focus {
  background-color: var(--c-governor) !important;
}

a:link {
  text-decoration: none !important;
}

.contact-container {
    width: 100% !important;
  }
